.admin-section {
  border-radius: 12px;
  padding: 20px;
  background: linear-gradient(135deg, #1e293b, #334155);
  box-Shadow: 0 4px 16px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}
.admin-section-on{
 margin-bottom: 15px; 
}

h2{
  color: #6366f1;
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refresh-button {
  background-color: #6366f1;
  color: white;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.team-list {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.team-card {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgb(52, 61, 71);
  border-radius: 8px;
  padding: 12px;
 box-Shadow: 0 4px 16px rgba(0,0,0,0.3);
}

.team-logo {
  border-radius: 8px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.team-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delete-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  padding: 40px 20px; /* 작은 화면에서도 여유 공간 확보 */
}

.modal-box {
  background: linear-gradient(135deg, #1e293b, #334155);
  padding: 24px;
  border-radius: 10px;
  width: 400px;
  max-width: 95vw;
  max-height: 80%;
  overflow-y: auto;  /* ⭐ 모달 내부 내용 스크롤 */
}


.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
