
html {
  font-size: 14px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: linear-gradient(135deg,rgb(44, 44, 78) 0%,rgb(55, 58, 95) 100%);


}

.main-wrapper, .scoreboard-container, .match-results {
  max-width: 960px;     
  margin: 0 auto;      
  padding: 0 16px;
}
