

.left-panel,
.right-panel {
margin-top: 0px;

}
/* 메인 레이아웃 */
/* 탭 버튼 (고급스러운 포인트 색상) */
.tab-active,
.tab-inactive {
  padding: 5px 10px;
  font-size: 0.85rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
}

.tab-active {
  background-color: #f0eee9; /* 골드톤 강조 */
  color: #000;
}

.tab-active:hover {
  background-color: #e5c100;
}

.tab-inactive {
  background-color: #2f3145;
  color: #000000;
}

.tab-inactive:hover {
  background-color: #34353a;
}

/* 탭 정렬 */
.tabs {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 6px;
}

/* 버튼 스타일 */
.buttonDefault,
.buttonWarning {
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buttonDefault {
  background-color: #a79191;
  color: #2f314a;
}

.buttonDefault:hover {
  background-color: #2f314a;
  color: #c7a008;
}

.buttonWarning {
  background-color: #c89e9e;
  color: #150707;
}

.hovers:hover {
  background-color: #1023ae ;
}

.buttonWarning:hover {
  background-color: #ff3b30;
  color: white;
}

/* 콘텐츠 영역 */
.panel-div {
  width: 100%;
  padding: 20px 16px 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  max-height: 93vh;
  flex-wrap: wrap;
  background: linear-gradient(135deg, rgb(44, 44, 78) 0%, rgb(55, 58, 95) 100%);
  overflow-y: hidden;
}

.scale{
 transform: scale(0.82);
  display : flex ;
  justify-Content : center ;
   width : 100%;
   gap : 30px;
  margin-Bottom : 10px;
}
/* 깜빡임 */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blink-button {
  animation: blink 1.5s;
  animation-iteration-count: 5;
}

/* 반응형 */
@media (max-width: 1024px) {
  .panel-div {
    flex-direction: row;
    gap: 10px;
    align-items: start;
    margin-top: 10px;
  }
  .scale{
    transform: scale(0.75);
  }

  .tabs {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  body {
    overflow-x: auto;
  }
}
